{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
        "es6": true
    },
    "plugins": [],
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        //"prettier/prettier": "error",
        //"jest/no-focused-tests": 2,
        //"jest/no-identical-title": 2,
        "indent": [
            "error",
            4
        ],
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "always"
        ],
        "brace-style": [
            "error",
            "1tbs",
            {
                "allowSingleLine": true
            }
        ],
        "no-console": [
            "off"
        ],
        "no-unused-vars": [
            "warn"
        ],
        "space-in-parens": [
            "error",
            "always",
            {
                "exceptions": []
            }
        ],
        "array-bracket-spacing": [
            "error",
            "always"
        ],
        "object-curly-spacing": [
            "error",
            "always",
            {
                "arraysInObjects": true,
                "objectsInObjects": true
            }
        ],
        "max-len": [
            "error",
            {
                "code": 150
            }
        ],
        "no-tabs": [
            "error"
        ],
        "key-spacing": [
            "error",
            {
                "beforeColon": true
            }
        ],
        "no-param-reassign": "off",
        "function-paren-newline": "off",
        "import/no-extraneous-dependencies": 0,
        "import/prefer-default-export": 0
    }
}